@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #d18c1d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: #ad1d28;
  border-color: #911821;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #469ea8;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-body{
	padding: 20px;
	margin: 0;
	background: #ffffff;
	
}

..panel.panel-default{
	 margin: auto;
  width: 50%;
}

