extends layout

block content
  
  .home-container
    .error= message
    app-timetable-list Loading

block scripts
  script(src='/build/polyfills-LZBJRJJE.js')
  script(src='/build/main-UFTJW6ZL.js') 

            
            			  
    