extends layout

include _includes/sharedHTMLfunctions

block content
  
  .home-container
    
    .justify-content-center 
      .col-10.col-md-10
        .search-bar
          h2 Search for a Bus Stop
          .input-group
            input.form-control.rounded(type='search', placeholder='Search', aria-label='Search', aria-describedby='search-addon')
            button.btn.btn-outline-primary(type='button') Search

  .row
    .col-12.col-md-16
      .error= message
      app-home-list Loading

block scripts
  script(src='/build/polyfills-LZBJRJJE.js')
  script(src='/build/main-QIXQP3LD.js') 

  