extends layout

block content
  
  .home-container
    
    .justify-content-center 
      .col-10.col-md-10
        .search-bar
          h2 Search for a Bus Stop
          .input-group
            input.form-control.rounded(type='search', placeholder='Search', aria-label='Search', aria-describedby='search-addon')
            button.btn.btn-outline-primary(type='button') Search

        .card
          .card-block
            h4
              a(href="/location") Tralee
            p Next bus is at 13:00 to Listowel
              span.badge.badge-pill.badge-default.float-right 100m

        .card
          .card-block
            h4
              a(href="/location") Listowel
            p Next bus is at 12:00 to Limerick
              span.badge.badge-pill.badge-default.float-right 22km


        .card
          .card-block
            h4
              a(href="/location") Killarney
            p Next bus is at 14:00 to Cork
              span.badge.badge-pill.badge-default.float-right 30km