extends layout

block content
  
  .home-container
    
    .justify-content-center 
      .col-10.col-md-10
        .search-bar
          h2 Search for a Bus Stop
          .input-group
            input.form-control.rounded(type='search', placeholder='Search', aria-label='Search', aria-describedby='search-addon')
            button.btn.btn-outline-primary(type='button') Search

        each timetable in timetables
          .card
            .card-block
              h4
                a(href="#")= timetable.location
              each route in timetable.bus_routes
                span.badge.badge-pill.badge-default= route
              p.nextbus
                a The next bus is at 
                a= timetable.next_bus