extends layout

block content
  link#bootstrap-css(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css' rel='stylesheet')
  script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
  script(src='//code.jquery.com/jquery-1.11.1.min.js')


  .container
    .row
      .span12
        form.form-horizontal(action='' method='POST')
          fieldset
            #legend
              legend Login
            .control-group

              label.control-label(for='username') Username
              .controls
                input#username.input-xlarge(type='text' name='username' placeholder='')
            .control-group

              label.control-label(for='password') Password
              .controls
                input#password.input-xlarge(type='password' name='password' placeholder='')
            .control-group

              .controls
                button.btn.btn-success Login
            			  
    