extends layout

block content
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
  script(src='//code.jquery.com/jquery-1.11.1.min.js')

  .home-container
    .col-12.col-md-8
      .row.centered-form 
        .col-5.col-md-12
          .panel.panel-default
            .panel-heading
              h3.panel-title
                | Please sign in to view bus timetables!
            .panel-body
              form(role='form')
                .row
                .form-group
                  .row
                  .col-8
                    .form-group
                      label(for='email') Email:
                      input#password.form-control.input-sm(type='text' name='email' )   
                  .row
                  .col-8
                    .form-group
                      label(for='password') Password:
                      input#password.form-control.input-sm(type='password' name='password')
                .col-8
                  input.btn.btn-info.btn-block(type='submit' value='Login')
